In [1]:
%matplotlib inline

In [2]:
from __future__ import division
from numpy.random import randn, uniform, normal
import random
import numpy as np
import os
import matplotlib.pyplot as plt
import pandas as pd
import calendar
from datetime import date, timedelta

In [3]:
# 2010 is the last available year right now
years = range(1880, 2017)

pieces = []
columns = ['name', 'sex', 'births']

for year in years:
    path = 'names/yob%d.txt' % year
    frame = pd.read_csv(path, names=columns)

    frame['year'] = year
    pieces.append(frame)

# Concatenate everything into a single DataFrame
names = pd.concat(pieces, ignore_index=True)

In [4]:
pieces = []
for year, group in names.groupby(['year', 'sex']):
    pieces.append(group.sort_index(by='births', ascending=False)[:1000])
top1000 = pd.concat(pieces, ignore_index=True)

/Users/arthurc/anaconda/envs/CoreML/lib/python2.7/site-packages/ipykernel_launcher.py:3: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
top1000.head()

        name sex  births  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880

In [6]:
def firstName(year,sex):
    df = top1000[top1000.year == year]
    df = df[df.sex == sex]
    total = float(np.sum(df.births))
   
    df = df.sort_values(by=['births'], ascending=False)
    df["freq"] = df.births.apply(lambda x: float(x)/total)
    df["bound"] = df.freq.cumsum()
    return df
firstName(1968,"M").tail()

            name sex  births  year      freq     bound
177872   Octavio   M      55  1968  0.000033  0.999869
177873  Torrance   M      55  1968  0.000033  0.999902
177874   Raynard   M      55  1968  0.000033  0.999935
177875   Raleigh   M      55  1968  0.000033  0.999967
177876    Prince   M      55  1968  0.000033  1.000000

In [7]:
bar = firstName(1973,"F")
bar.head()

            name sex  births  year      freq     bound
185877  Jennifer   F   62454  1973  0.048249  0.048249
185878       Amy   F   26965  1973  0.020832  0.069081
185879  Michelle   F   26930  1973  0.020805  0.089886
185880  Kimberly   F   23532  1973  0.018180  0.108066
185881      Lisa   F   22667  1973  0.017512  0.125578

In [8]:
bar.bound.searchsorted(0.07)[0], bar.bound.searchsorted(0.11)[0], bar.bound.searchsorted(0.01)[0]

(2, 4, 0)

In [9]:
def rowName(df,prob):
    i = df.bound.searchsorted(prob)[0]
    row = df.iloc[i]
    return row["name"]

rowName(bar,0.11)

'Lisa'

In [10]:
def makeFirstList(year,sex,count):
    bar = firstName(year,sex)
    ret = []
    for x in range(count):
        prob = uniform()
        name = rowName(bar,prob)
        ret.append(name)
        
    return ret

makeFirstList(1912,"M",10)

['Robert',
 'Manuel',
 'Thomas',
 'Jack',
 'Joseph',
 'Philip',
 'John',
 'Peter',
 'Frank',
 'John']

### Last Names
from the [census 1990](https://www.census.gov/topics/population/genealogy/data/1990_census/1990_census_namefiles.html)

In [11]:
path = 'surnames/1990.txt'
lastName = pd.read_csv(path,  delim_whitespace=True , names = ["uName","freq","c","Rank"])
lastName.head()

      uName   freq      c  Rank
0     SMITH  1.006  1.006     1
1   JOHNSON  0.810  1.816     2
2  WILLIAMS  0.699  2.515     3
3     JONES  0.621  3.136     4
4     BROWN  0.621  3.757     5

In [12]:
lastName["name"] = lastName.uName.apply(lambda x: str(x).title())
total = float(np.sum(lastName.freq))


lastName["freqReal"] = lastName.freq.apply(lambda x: float(x)/total)
lastName["bound"] = lastName.freqReal.cumsum()
lastName.head()

      uName   freq      c  Rank      name  freqReal     bound
0     SMITH  1.006  1.006     1     Smith  0.012640  0.012640
1   JOHNSON  0.810  1.816     2   Johnson  0.010177  0.022817
2  WILLIAMS  0.699  2.515     3  Williams  0.008783  0.031599
3     JONES  0.621  3.136     4     Jones  0.007802  0.039402
4     BROWN  0.621  3.757     5     Brown  0.007802  0.047204

In [13]:
rowName(lastName,0.02)

'Johnson'

In [18]:
def randomFullName(year,gender,count):
    aval = makeFirstList(year,gender,count)
    midList = makeFirstList(year,gender,count)
    ret = []
    for i in range(len(aval)):
        first = aval[i]
        middle = midList[i]
        prob = uniform()
        last = rowName(lastName,prob)
        name = first + " " + middle[0] + ". " + last
        ret.append( {"first":first,"middle":middle,"gender":gender,"last":last, "name":name})
    
        
    return ret
randomFullName(1986,"M",10)

[{'first': 'Albert',
  'gender': 'M',
  'last': 'Hill',
  'middle': 'Joshua',
  'name': 'Albert J. Hill'},
 {'first': 'Christian',
  'gender': 'M',
  'last': 'Favors',
  'middle': 'Kristopher',
  'name': 'Christian K. Favors'},
 {'first': 'Nicholas',
  'gender': 'M',
  'last': 'Beecher',
  'middle': 'Kendall',
  'name': 'Nicholas K. Beecher'},
 {'first': 'Carl',
  'gender': 'M',
  'last': 'Chee',
  'middle': 'Ryan',
  'name': 'Carl R. Chee'},
 {'first': 'Philip',
  'gender': 'M',
  'last': 'Jenkins',
  'middle': 'Jason',
  'name': 'Philip J. Jenkins'},
 {'first': 'Mathew',
  'gender': 'M',
  'last': 'Lewis',
  'middle': 'Adam',
  'name': 'Mathew A. Lewis'},
 {'first': 'Shawn',
  'gender': 'M',
  'last': 'Marin',
  'middle': 'Chad',
  'name': 'Shawn C. Marin'},
 {'first': 'Joseph',
  'gender': 'M',
  'last': 'Fay',
  'middle': 'Robert',
  'name': 'Joseph R. Fay'},
 {'first': 'Jason',
  'gender': 'M',
  'last': 'Burke',
  'middle': 'Marcus',
  'name': 'Jason M. Burke'},
 {'first': 'Eric',
  'gender': 'M',
  'last': 'Corbett',
  'middle': 'Jeremy',
  'name': 'Eric J. Corbett'}]

## year

In [19]:
def randomDate(year):
    firstJan = date(year,1,1)
    d = firstJan + timedelta(days = random.randint(0, 365 if calendar.isleap(firstJan.year) else 364))
    return d
    
randomDate(2015)

datetime.date(2015, 3, 8)

In [21]:
def getYears(yearMean,std,count,gender):
    (years,yearcounts) = np.unique(normal(yearMean,std,count).astype(int),return_counts=True)
    
    ret = []
    
   
   
    for i in range(len(years)):
        year = years[i]
        ycount =  yearcounts[i]
        names = randomFullName(year,gender,ycount)


        for j in range(len(names)):
            pep = names[j]
            pep["birth"] = randomDate(year).isoformat()
            ret.append(pep)
    
    arr = np.arange(len(ret))
    np.random.shuffle(arr)
    
    for i in range(len(ret)):
        pep =  ret[i]
        pep["imageID"] = arr[i]
    
    return ret

getYears(1970,5,5,"M")

[{'birth': '1965-06-29',
  'first': 'Robert',
  'gender': 'M',
  'imageID': 3,
  'last': 'Parker',
  'middle': 'Sidney',
  'name': 'Robert S. Parker'},
 {'birth': '1967-05-17',
  'first': 'Christopher',
  'gender': 'M',
  'imageID': 0,
  'last': 'Lester',
  'middle': 'Scottie',
  'name': 'Christopher S. Lester'},
 {'birth': '1969-12-17',
  'first': 'Clint',
  'gender': 'M',
  'imageID': 1,
  'last': 'Eckard',
  'middle': 'Hector',
  'name': 'Clint H. Eckard'},
 {'birth': '1970-05-21',
  'first': 'Richard',
  'gender': 'M',
  'imageID': 4,
  'last': 'Griffin',
  'middle': 'Herbert',
  'name': 'Richard H. Griffin'},
 {'birth': '1973-08-30',
  'first': 'Robert',
  'gender': 'M',
  'imageID': 2,
  'last': 'Smith',
  'middle': 'Larry',
  'name': 'Robert L. Smith'}]

In [ ]:
## ouput

In [23]:
import json
import uuid

In [27]:
people = getYears(1965,7,50,"M")
people.extend( getYears(1970,5,50,"F"))
lookup = {}


for i in range(len(people)):
    key = str(uuid.uuid4())
    pep =  people[i]
    pep["id"] = key
    lookup[key] = pep
    

with open('people.json', 'w') as outfile:
    json.dump(lookup, outfile)
people

[{'birth': '1954-09-02',
  'first': 'Anthony',
  'gender': 'M',
  'id': 'e0f73f19-f732-4b18-89b2-6a05732136db',
  'imageID': 28,
  'last': 'Capozzi',
  'middle': 'Gregory',
  'name': 'Anthony G. Capozzi'},
 {'birth': '1957-05-18',
  'first': 'Donald',
  'gender': 'M',
  'id': '73794054-4ad5-4e82-9e2a-854eee2088f0',
  'imageID': 33,
  'last': 'Donoho',
  'middle': 'Ronald',
  'name': 'Donald R. Donoho'},
 {'birth': '1957-06-21',
  'first': 'David',
  'gender': 'M',
  'id': 'e39ca359-9ac8-43a9-ba02-a87d1386df66',
  'imageID': 45,
  'last': 'Birney',
  'middle': 'John',
  'name': 'David J. Birney'},
 {'birth': '1959-02-13',
  'first': 'Patrick',
  'gender': 'M',
  'id': '9e261f4b-525d-4ff3-bf9b-dd8df656952c',
  'imageID': 24,
  'last': 'Solis',
  'middle': 'Paul',
  'name': 'Patrick P. Solis'},
 {'birth': '1959-05-02',
  'first': 'Carlos',
  'gender': 'M',
  'id': '013ac0c4-e305-4fec-a6e9-307fd8fb8b21',
  'imageID': 22,
  'last': 'Halbert',
  'middle': 'Mark',
  'name': 'Carlos M. Halbert'},
 {'birth': '1959-01-12',
  'first': 'George',
  'gender': 'M',
  'id': '09a4811a-913f-4daa-acef-0c427f3fc699',
  'imageID': 47,
  'last': 'Lowenstein',
  'middle': 'Edmund',
  'name': 'George E. Lowenstein'},
 {'birth': '1959-04-29',
  'first': 'Allen',
  'gender': 'M',
  'id': '4a5705dd-5cc6-4c4f-b7ce-611f62d48d92',
  'imageID': 17,
  'last': 'Serio',
  'middle': 'Kenneth',
  'name': 'Allen K. Serio'},
 {'birth': '1959-02-18',
  'first': 'Richard',
  'gender': 'M',
  'id': '87d32495-2252-4cf4-a1f1-0d82eb1304d8',
  'imageID': 49,
  'last': 'Corona',
  'middle': 'Carl',
  'name': 'Richard C. Corona'},
 {'birth': '1960-02-18',
  'first': 'Arthur',
  'gender': 'M',
  'id': '08c6eabe-c1b2-4dc2-9b3e-5f75f3f46ea0',
  'imageID': 40,
  'last': 'Templeton',
  'middle': 'Anthony',
  'name': 'Arthur A. Templeton'},
 {'birth': '1960-01-09',
  'first': 'Edward',
  'gender': 'M',
  'id': 'c29fdfeb-96c7-4a37-9afb-0a0a3d30cb00',
  'imageID': 0,
  'last': 'Kelly',
  'middle': 'Calvin',
  'name': 'Edward C. Kelly'},
 {'birth': '1961-09-09',
  'first': 'Richard',
  'gender': 'M',
  'id': '350c0da7-2807-40e1-ac04-8a7c78a10e4b',
  'imageID': 38,
  'last': 'Villarreal',
  'middle': 'Shannon',
  'name': 'Richard S. Villarreal'},
 {'birth': '1961-05-27',
  'first': 'Keith',
  'gender': 'M',
  'id': '20d27a19-0813-483d-a7a7-b7944ad9fe58',
  'imageID': 7,
  'last': 'Figueroa',
  'middle': 'Leroy',
  'name': 'Keith L. Figueroa'},
 {'birth': '1961-03-04',
  'first': 'James',
  'gender': 'M',
  'id': 'c50e4af2-3977-416f-8859-c6445b0aabef',
  'imageID': 37,
  'last': 'Rosenthal',
  'middle': 'Rick',
  'name': 'James R. Rosenthal'},
 {'birth': '1962-05-11',
  'first': 'Gregory',
  'gender': 'M',
  'id': '3a6f9a61-8c83-4386-a841-0f286d6aa7df',
  'imageID': 19,
  'last': 'Howell',
  'middle': 'Calvin',
  'name': 'Gregory C. Howell'},
 {'birth': '1962-10-27',
  'first': 'Douglas',
  'gender': 'M',
  'id': '4670f8ff-0f3c-4feb-a5de-b7ed7b498749',
  'imageID': 25,
  'last': 'Dunn',
  'middle': 'Gary',
  'name': 'Douglas G. Dunn'},
 {'birth': '1963-10-25',
  'first': 'Raymond',
  'gender': 'M',
  'id': '771b2dcb-e493-4ef0-b0a2-4c123fa56216',
  'imageID': 4,
  'last': 'Lloyd',
  'middle': 'Jeffrey',
  'name': 'Raymond J. Lloyd'},
 {'birth': '1964-11-08',
  'first': 'Darren',
  'gender': 'M',
  'id': '5c208787-0838-4e49-b816-184bd22a1822',
  'imageID': 26,
  'last': 'Mcqueen',
  'middle': 'Michael',
  'name': 'Darren M. Mcqueen'},
 {'birth': '1964-06-21',
  'first': 'Jeffrey',
  'gender': 'M',
  'id': 'aea5012d-26c0-4e11-affe-f49e58e67c99',
  'imageID': 41,
  'last': 'Willilams',
  'middle': 'Garry',
  'name': 'Jeffrey G. Willilams'},
 {'birth': '1965-12-03',
  'first': 'Richard',
  'gender': 'M',
  'id': 'f3234263-b927-42f5-95a3-6b04892ce668',
  'imageID': 32,
  'last': 'Mcqueen',
  'middle': 'Robert',
  'name': 'Richard R. Mcqueen'},
 {'birth': '1965-10-26',
  'first': 'David',
  'gender': 'M',
  'id': '1e8da7c1-0488-4e71-ad5d-0bbb2f359fc6',
  'imageID': 6,
  'last': 'Mccormick',
  'middle': 'Robert',
  'name': 'David R. Mccormick'},
 {'birth': '1965-12-19',
  'first': 'Mark',
  'gender': 'M',
  'id': '3e584410-57b5-4b35-aa36-6f005d2c1b31',
  'imageID': 15,
  'last': 'Jenkins',
  'middle': 'Brian',
  'name': 'Mark B. Jenkins'},
 {'birth': '1966-02-11',
  'first': 'Mark',
  'gender': 'M',
  'id': 'b3b18405-a30e-4673-96da-89a786acd8d3',
  'imageID': 31,
  'last': 'Jones',
  'middle': 'Jeffrey',
  'name': 'Mark J. Jones'},
 {'birth': '1966-08-20',
  'first': 'Donald',
  'gender': 'M',
  'id': '5847f59d-00e7-4111-b94d-14bd6c418afe',
  'imageID': 21,
  'last': 'Lott',
  'middle': 'James',
  'name': 'Donald J. Lott'},
 {'birth': '1966-09-09',
  'first': 'Scott',
  'gender': 'M',
  'id': 'b31d7445-9170-4185-97c4-79c7ac34c297',
  'imageID': 16,
  'last': 'Bruce',
  'middle': 'Mark',
  'name': 'Scott M. Bruce'},
 {'birth': '1966-08-21',
  'first': 'Gary',
  'gender': 'M',
  'id': 'c415781b-64d6-45c0-aba3-4d5257d67dcc',
  'imageID': 23,
  'last': 'Hawkins',
  'middle': 'Kerry',
  'name': 'Gary K. Hawkins'},
 {'birth': '1966-08-04',
  'first': 'James',
  'gender': 'M',
  'id': '567832f5-8295-40c8-aead-bcd07ea0e2f9',
  'imageID': 2,
  'last': 'Shorts',
  'middle': 'Johnny',
  'name': 'James J. Shorts'},
 {'birth': '1966-12-01',
  'first': 'Andrew',
  'gender': 'M',
  'id': '0b719136-2a6a-45b7-b5a6-80e60b46fa0f',
  'imageID': 10,
  'last': 'Warren',
  'middle': 'David',
  'name': 'Andrew D. Warren'},
 {'birth': '1967-06-18',
  'first': 'Melvin',
  'gender': 'M',
  'id': '9e4feede-163f-47ca-9227-6ecc11336d25',
  'imageID': 44,
  'last': 'Gravelle',
  'middle': 'Leroy',
  'name': 'Melvin L. Gravelle'},
 {'birth': '1967-04-26',
  'first': 'Devin',
  'gender': 'M',
  'id': 'c35c3eeb-49b0-44ff-9992-88a7c2f12cba',
  'imageID': 11,
  'last': 'Linquist',
  'middle': 'John',
  'name': 'Devin J. Linquist'},
 {'birth': '1967-04-02',
  'first': 'Eric',
  'gender': 'M',
  'id': 'a206d520-7caa-4cc9-a219-6f1741411e35',
  'imageID': 18,
  'last': 'Couch',
  'middle': 'Paul',
  'name': 'Eric P. Couch'},
 {'birth': '1968-10-26',
  'first': 'Brooks',
  'gender': 'M',
  'id': 'fcd21beb-7f74-4ec0-b412-e11b0657a5c6',
  'imageID': 12,
  'last': 'Tracey',
  'middle': 'Brian',
  'name': 'Brooks B. Tracey'},
 {'birth': '1968-02-28',
  'first': 'Robert',
  'gender': 'M',
  'id': '126556a6-593e-4241-846b-e738bea76c8f',
  'imageID': 27,
  'last': 'Hill',
  'middle': 'Daniel',
  'name': 'Robert D. Hill'},
 {'birth': '1968-12-23',
  'first': 'Matthew',
  'gender': 'M',
  'id': '63fa25a4-9965-4542-a6fc-49d73affdfc5',
  'imageID': 3,
  'last': 'Tune',
  'middle': 'Robert',
  'name': 'Matthew R. Tune'},
 {'birth': '1968-07-30',
  'first': 'Loren',
  'gender': 'M',
  'id': '6e93d88a-4cfc-4e4e-8125-080278df7835',
  'imageID': 20,
  'last': 'Williams',
  'middle': 'Peter',
  'name': 'Loren P. Williams'},
 {'birth': '1968-03-28',
  'first': 'Stanton',
  'gender': 'M',
  'id': 'c37c8256-efd6-4aa2-a8f8-36572ef90a47',
  'imageID': 29,
  'last': 'Davis',
  'middle': 'Sam',
  'name': 'Stanton S. Davis'},
 {'birth': '1969-07-31',
  'first': 'Glenn',
  'gender': 'M',
  'id': '090e0ac0-a230-4de3-8d9c-f40148ddee92',
  'imageID': 34,
  'last': 'Mclemore',
  'middle': 'Gustavo',
  'name': 'Glenn G. Mclemore'},
 {'birth': '1969-08-26',
  'first': 'William',
  'gender': 'M',
  'id': '08ab8a5c-5f7d-4c0c-9114-f7e9d93c7895',
  'imageID': 1,
  'last': 'Hawkins',
  'middle': 'Lee',
  'name': 'William L. Hawkins'},
 {'birth': '1970-12-01',
  'first': 'Paul',
  'gender': 'M',
  'id': '3d754048-4bfc-417e-9c02-c9e50afea13a',
  'imageID': 8,
  'last': 'Roth',
  'middle': 'Andrew',
  'name': 'Paul A. Roth'},
 {'birth': '1970-05-06',
  'first': 'Mark',
  'gender': 'M',
  'id': '42aca62d-e632-415b-96c2-c9f3a99b38f7',
  'imageID': 36,
  'last': 'Moreno',
  'middle': 'Scott',
  'name': 'Mark S. Moreno'},
 {'birth': '1970-07-04',
  'first': 'Juan',
  'gender': 'M',
  'id': '648ee603-f981-4aa0-94af-81ad71f6dee3',
  'imageID': 13,
  'last': 'Thompson',
  'middle': 'Justin',
  'name': 'Juan J. Thompson'},
 {'birth': '1970-08-23',
  'first': 'Hollis',
  'gender': 'M',
  'id': '2b4f4b70-dc33-498f-a3a8-c25cbc85d0ef',
  'imageID': 35,
  'last': 'Menard',
  'middle': 'Alfonso',
  'name': 'Hollis A. Menard'},
 {'birth': '1971-12-12',
  'first': 'David',
  'gender': 'M',
  'id': 'e18e525b-9538-4e32-8174-fcece970e2a7',
  'imageID': 42,
  'last': 'Davis',
  'middle': 'John',
  'name': 'David J. Davis'},
 {'birth': '1972-05-26',
  'first': 'John',
  'gender': 'M',
  'id': '9ea51105-1494-4fbf-8854-609d8b1f6006',
  'imageID': 14,
  'last': 'Phillips',
  'middle': 'Warren',
  'name': 'John W. Phillips'},
 {'birth': '1973-01-26',
  'first': 'Jack',
  'gender': 'M',
  'id': 'a7e34466-c43f-477b-ac9b-693fe643d617',
  'imageID': 48,
  'last': 'Durante',
  'middle': 'Jennifer',
  'name': 'Jack J. Durante'},
 {'birth': '1974-12-30',
  'first': 'Michael',
  'gender': 'M',
  'id': '84af5f4d-2820-44fe-b6f9-750cd56893db',
  'imageID': 5,
  'last': 'Grell',
  'middle': 'Mark',
  'name': 'Michael M. Grell'},
 {'birth': '1974-12-10',
  'first': 'David',
  'gender': 'M',
  'id': '2d43caf6-32f0-4544-a502-24db18a23cf6',
  'imageID': 39,
  'last': 'Weiss',
  'middle': 'Robert',
  'name': 'David R. Weiss'},
 {'birth': '1976-11-08',
  'first': 'Richard',
  'gender': 'M',
  'id': '404f794a-7e07-4ab7-a34b-03e104b24b6f',
  'imageID': 30,
  'last': 'Lewis',
  'middle': 'Alejandro',
  'name': 'Richard A. Lewis'},
 {'birth': '1977-12-12',
  'first': 'Andrew',
  'gender': 'M',
  'id': 'cf238011-5c41-4a44-b375-56cb9991fe55',
  'imageID': 9,
  'last': 'Stone',
  'middle': 'Kyle',
  'name': 'Andrew K. Stone'},
 {'birth': '1978-03-22',
  'first': 'Ronald',
  'gender': 'M',
  'id': '489e3d76-ecba-4cdf-b523-245b4a08816e',
  'imageID': 43,
  'last': 'Vasquez',
  'middle': 'Jeffrey',
  'name': 'Ronald J. Vasquez'},
 {'birth': '1982-12-16',
  'first': 'Brett',
  'gender': 'M',
  'id': '8a7aa4a9-4372-47e7-9c32-cfa36e4b9e33',
  'imageID': 46,
  'last': 'Villanueva',
  'middle': 'Eric',
  'name': 'Brett E. Villanueva'},
 {'birth': '1962-09-06',
  'first': 'Sallie',
  'gender': 'F',
  'id': 'de49b270-ec92-40fb-b76a-ba1110ec8092',
  'imageID': 1,
  'last': 'Sills',
  'middle': 'Catherine',
  'name': 'Sallie C. Sills'},
 {'birth': '1963-03-12',
  'first': 'Virginia',
  'gender': 'F',
  'id': '3b7e354c-006d-4990-9e4d-d733a97240f8',
  'imageID': 16,
  'last': 'Rodriguez',
  'middle': 'Susan',
  'name': 'Virginia S. Rodriguez'},
 {'birth': '1963-06-09',
  'first': 'Lisa',
  'gender': 'F',
  'id': '7cbfcc5b-cebd-439f-b3df-2956dc355ac1',
  'imageID': 24,
  'last': 'Torres',
  'middle': 'Marian',
  'name': 'Lisa M. Torres'},
 {'birth': '1963-01-04',
  'first': 'Dixie',
  'gender': 'F',
  'id': '98085294-4df9-488d-a9f5-c92d2319de18',
  'imageID': 11,
  'last': 'Marquis',
  'middle': 'Kathy',
  'name': 'Dixie K. Marquis'},
 {'birth': '1963-10-03',
  'first': 'Judy',
  'gender': 'F',
  'id': 'c670170c-1bf0-4dbd-99ce-8c7cf7b3abf9',
  'imageID': 18,
  'last': 'Glover',
  'middle': 'Beverly',
  'name': 'Judy B. Glover'},
 {'birth': '1964-08-09',
  'first': 'Tammy',
  'gender': 'F',
  'id': 'f5e994d2-f05a-4f06-ac67-2fd1cff7f758',
  'imageID': 25,
  'last': 'Bishop',
  'middle': 'Marlene',
  'name': 'Tammy M. Bishop'},
 {'birth': '1964-06-19',
  'first': 'Lucinda',
  'gender': 'F',
  'id': 'ec31a581-0dd1-4ef1-8939-21e78dbdbe9a',
  'imageID': 43,
  'last': 'Knee',
  'middle': 'Lori',
  'name': 'Lucinda L. Knee'},
 {'birth': '1964-06-24',
  'first': 'Debra',
  'gender': 'F',
  'id': 'a3270c4a-cd58-4d74-9ed2-e08bc7987994',
  'imageID': 10,
  'last': 'Garcia',
  'middle': 'Lynn',
  'name': 'Debra L. Garcia'},
 {'birth': '1965-11-10',
  'first': 'Karen',
  'gender': 'F',
  'id': '03b07dfb-6287-469d-9d02-3929868bf924',
  'imageID': 2,
  'last': 'Fyffe',
  'middle': 'Stacey',
  'name': 'Karen S. Fyffe'},
 {'birth': '1965-04-19',
  'first': 'Helena',
  'gender': 'F',
  'id': '542e807e-c222-4d51-ad65-808260c39536',
  'imageID': 12,
  'last': 'Smith',
  'middle': 'Valeria',
  'name': 'Helena V. Smith'},
 {'birth': '1965-12-09',
  'first': 'Dana',
  'gender': 'F',
  'id': 'eac6f678-0178-4036-ad9e-59a3c3d37e2d',
  'imageID': 36,
  'last': 'Shelton',
  'middle': 'Karen',
  'name': 'Dana K. Shelton'},
 {'birth': '1965-10-15',
  'first': 'Beth',
  'gender': 'F',
  'id': '2034a5e3-2c0e-4111-ad20-7e4873d8924d',
  'imageID': 35,
  'last': 'Fish',
  'middle': 'Julie',
  'name': 'Beth J. Fish'},
 {'birth': '1965-05-13',
  'first': 'Brenda',
  'gender': 'F',
  'id': '74fc9a91-865d-4e89-9c15-4862615205b1',
  'imageID': 49,
  'last': 'Brown',
  'middle': 'Darlene',
  'name': 'Brenda D. Brown'},
 {'birth': '1966-05-13',
  'first': 'Sharon',
  'gender': 'F',
  'id': '343c5bb9-6585-4bd6-b0d3-557501637255',
  'imageID': 21,
  'last': 'Oneill',
  'middle': 'Carol',
  'name': 'Sharon C. Oneill'},
 {'birth': '1967-10-18',
  'first': 'Janice',
  'gender': 'F',
  'id': 'a0db834a-8fba-4714-b2db-014330f1575e',
  'imageID': 13,
  'last': 'Johnson',
  'middle': 'Kimberley',
  'name': 'Janice K. Johnson'},
 {'birth': '1967-06-22',
  'first': 'Debra',
  'gender': 'F',
  'id': '96399dd1-3d9a-44eb-86ae-2c0f8a5c907c',
  'imageID': 8,
  'last': 'Gearhart',
  'middle': 'Regina',
  'name': 'Debra R. Gearhart'},
 {'birth': '1967-09-23',
  'first': 'Monique',
  'gender': 'F',
  'id': 'ada5c330-8b53-4b61-aa69-b06cfc5759fb',
  'imageID': 9,
  'last': 'Anderson',
  'middle': 'Julie',
  'name': 'Monique J. Anderson'},
 {'birth': '1967-10-21',
  'first': 'Tammy',
  'gender': 'F',
  'id': '71da6ed1-c20f-4ee1-90db-af8619e35956',
  'imageID': 6,
  'last': 'Mcfarlin',
  'middle': 'Katherine',
  'name': 'Tammy K. Mcfarlin'},
 {'birth': '1967-01-29',
  'first': 'Tammy',
  'gender': 'F',
  'id': 'c21f8f4b-83c0-4f10-ad88-9d68794d4eac',
  'imageID': 7,
  'last': 'Mcguire',
  'middle': 'Frances',
  'name': 'Tammy F. Mcguire'},
 {'birth': '1968-06-18',
  'first': 'Stephanie',
  'gender': 'F',
  'id': 'b060fa9f-1865-4534-b1c2-b3cddf5d0b7f',
  'imageID': 40,
  'last': 'Courtois',
  'middle': 'Alyssa',
  'name': 'Stephanie A. Courtois'},
 {'birth': '1968-09-17',
  'first': 'Debra',
  'gender': 'F',
  'id': '549ff299-1558-4fb8-a0a2-4d1c59a94a90',
  'imageID': 23,
  'last': 'Holman',
  'middle': 'Loretta',
  'name': 'Debra L. Holman'},
 {'birth': '1969-03-17',
  'first': 'Pam',
  'gender': 'F',
  'id': '50d382b7-bb09-45be-9d23-c674dd9fac4c',
  'imageID': 41,
  'last': 'Booth',
  'middle': 'Rebecca',
  'name': 'Pam R. Booth'},
 {'birth': '1969-02-04',
  'first': 'Elisa',
  'gender': 'F',
  'id': 'fb19e9e4-1ced-4a5c-8ff3-dd2666d1827c',
  'imageID': 26,
  'last': 'Everett',
  'middle': 'Barbara',
  'name': 'Elisa B. Everett'},
 {'birth': '1969-02-17',
  'first': 'Michelle',
  'gender': 'F',
  'id': 'ff739a04-e480-4df8-a120-4d7d0f004bfc',
  'imageID': 47,
  'last': 'Ross',
  'middle': 'Katherine',
  'name': 'Michelle K. Ross'},
 {'birth': '1969-01-29',
  'first': 'Elisa',
  'gender': 'F',
  'id': '751d5fb8-4934-4cb4-ba21-a6436d57ce3a',
  'imageID': 15,
  'last': 'Birge',
  'middle': 'Stephanie',
  'name': 'Elisa S. Birge'},
 {'birth': '1969-06-05',
  'first': 'Jennifer',
  'gender': 'F',
  'id': '1d5b0733-03d5-44e8-9240-0138fff79129',
  'imageID': 29,
  'last': 'Stanley',
  'middle': 'Julie',
  'name': 'Jennifer J. Stanley'},
 {'birth': '1969-05-28',
  'first': 'Diane',
  'gender': 'F',
  'id': '4dff7fee-4854-460e-9a3a-497d2417a63c',
  'imageID': 27,
  'last': 'Mosley',
  'middle': 'Chandra',
  'name': 'Diane C. Mosley'},
 {'birth': '1969-10-24',
  'first': 'Jennifer',
  'gender': 'F',
  'id': 'a05820e2-01b8-4799-8684-07c145989fce',
  'imageID': 32,
  'last': 'Webster',
  'middle': 'Cassandra',
  'name': 'Jennifer C. Webster'},
 {'birth': '1970-07-22',
  'first': 'Cindy',
  'gender': 'F',
  'id': 'a5afdcc5-766c-48a3-bb5d-5bb866bc6dd2',
  'imageID': 20,
  'last': 'Lewis',
  'middle': 'Claudia',
  'name': 'Cindy C. Lewis'},
 {'birth': '1970-12-18',
  'first': 'Stacie',
  'gender': 'F',
  'id': '84e3f0c8-317b-4c0a-a98d-6d49293fb292',
  'imageID': 42,
  'last': 'Lewis',
  'middle': 'Alicia',
  'name': 'Stacie A. Lewis'},
 {'birth': '1970-03-18',
  'first': 'Trina',
  'gender': 'F',
  'id': '383e81d0-d09f-4e92-ad2d-10df3def2ba2',
  'imageID': 17,
  'last': 'Schmit',
  'middle': 'Emily',
  'name': 'Trina E. Schmit'},
 {'birth': '1970-11-07',
  'first': 'Amy',
  'gender': 'F',
  'id': '544fc48d-a4e4-4044-894e-d18fa487550f',
  'imageID': 45,
  'last': 'Whitehead',
  'middle': 'Lisa',
  'name': 'Amy L. Whitehead'},
 {'birth': '1970-05-20',
  'first': 'Marla',
  'gender': 'F',
  'id': 'b466f7fa-9ab1-464c-af5e-c07fac698824',
  'imageID': 30,
  'last': 'Coleman',
  'middle': 'Tracey',
  'name': 'Marla T. Coleman'},
 {'birth': '1970-03-06',
  'first': 'Vanessa',
  'gender': 'F',
  'id': '1f0ef601-c2f4-43e4-953b-0201610240dc',
  'imageID': 33,
  'last': 'Dunston',
  'middle': 'Michelle',
  'name': 'Vanessa M. Dunston'},
 {'birth': '1971-02-11',
  'first': 'Virginia',
  'gender': 'F',
  'id': '0236a82f-4cc9-49f3-aed0-0801f2694df8',
  'imageID': 28,
  'last': 'Rea',
  'middle': 'Darla',
  'name': 'Virginia D. Rea'},
 {'birth': '1971-01-03',
  'first': 'Carrie',
  'gender': 'F',
  'id': '210a32ae-70c6-4f60-9960-ba4ca03d2064',
  'imageID': 38,
  'last': 'Quick',
  'middle': 'Melanie',
  'name': 'Carrie M. Quick'},
 {'birth': '1972-09-11',
  'first': 'Heather',
  'gender': 'F',
  'id': 'e0f682ed-eeef-4188-9a42-b077513e5c8a',
  'imageID': 0,
  'last': 'Jacobs',
  'middle': 'Shea',
  'name': 'Heather S. Jacobs'},
 {'birth': '1972-07-29',
  'first': 'Jennifer',
  'gender': 'F',
  'id': '98d4a3e3-4cad-4cea-88b8-a00caf9e9254',
  'imageID': 19,
  'last': 'Dudley',
  'middle': 'Nicki',
  'name': 'Jennifer N. Dudley'},
 {'birth': '1972-01-03',
  'first': 'Kathleen',
  'gender': 'F',
  'id': '28acde56-fd0a-4e40-822d-627863118677',
  'imageID': 37,
  'last': 'Castellano',
  'middle': 'Melanie',
  'name': 'Kathleen M. Castellano'},
 {'birth': '1972-10-27',
  'first': 'Pamela',
  'gender': 'F',
  'id': '5869aa18-baca-403a-a602-8b96b49dfe96',
  'imageID': 44,
  'last': 'Sullivan',
  'middle': 'Evelyn',
  'name': 'Pamela E. Sullivan'},
 {'birth': '1972-03-10',
  'first': 'Raquel',
  'gender': 'F',
  'id': '2884c603-5619-4a4c-a1cd-ec1e0b21e2ee',
  'imageID': 39,
  'last': 'Ladner',
  'middle': 'Angelia',
  'name': 'Raquel A. Ladner'},
 {'birth': '1974-04-09',
  'first': 'Paula',
  'gender': 'F',
  'id': '9427be69-e349-4ac8-86b3-0acd347706e5',
  'imageID': 4,
  'last': 'Mahoney',
  'middle': 'Sandra',
  'name': 'Paula S. Mahoney'},
 {'birth': '1974-04-25',
  'first': 'Sherry',
  'gender': 'F',
  'id': '5d8d779c-7b83-4b28-b68a-550c7f38e06d',
  'imageID': 22,
  'last': 'Botelho',
  'middle': 'Marilyn',
  'name': 'Sherry M. Botelho'},
 {'birth': '1975-11-15',
  'first': 'Deanna',
  'gender': 'F',
  'id': '0f3e1c07-b202-4435-9195-4fc50bae4f35',
  'imageID': 34,
  'last': 'Paschall',
  'middle': 'Ginger',
  'name': 'Deanna G. Paschall'},
 {'birth': '1975-11-06',
  'first': 'Megan',
  'gender': 'F',
  'id': 'c69bbc65-4fd8-4ad9-8691-d2db6a54f171',
  'imageID': 3,
  'last': 'Gay',
  'middle': 'Tamara',
  'name': 'Megan T. Gay'},
 {'birth': '1975-05-07',
  'first': 'Pamela',
  'gender': 'F',
  'id': '5d2c1af3-8816-4e3f-82c3-166e99fc4387',
  'imageID': 48,
  'last': 'Rennie',
  'middle': 'Joni',
  'name': 'Pamela J. Rennie'},
 {'birth': '1975-03-27',
  'first': 'Sarah',
  'gender': 'F',
  'id': 'b211ed83-6fea-4f40-9e7f-de4ca746cdf8',
  'imageID': 31,
  'last': 'Ramirez',
  'middle': 'Mary',
  'name': 'Sarah M. Ramirez'},
 {'birth': '1976-08-29',
  'first': 'Tara',
  'gender': 'F',
  'id': '1fff2f12-45f5-4d7f-a866-80b2f7e60137',
  'imageID': 14,
  'last': 'Phillips',
  'middle': 'Mary',
  'name': 'Tara M. Phillips'},
 {'birth': '1977-04-28',
  'first': 'Courtney',
  'gender': 'F',
  'id': '79fdac09-430f-454f-a309-741b566c5858',
  'imageID': 5,
  'last': 'Bender',
  'middle': 'Amanda',
  'name': 'Courtney A. Bender'},
 {'birth': '1978-07-30',
  'first': 'Nicola',
  'gender': 'F',
  'id': 'f75bf07f-e923-43e9-8a78-7f3d2c1a49c2',